@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

:root {
  --primary-color: orange;
  --secondary-color: gray;
}

.orange {
  color: var(--primary-color) !important;
}

.gray {
  color: var(--secondary-color) !important;
}

.App {
  text-align: center;
}

/*Scrollbar   */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #503a19;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(216, 186, 121, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 174, 91, 0.911);
  border-radius: 12px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    margin: 0;
    font-family: "Figtree", sans-serif;
}


/* Navbar Section  */

.sticky {
  background-color: #1c0e02 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px #0a0602 !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: orange !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #160c03 !important;
  }
  .navbar-nav a::after {
    display: none !important;
  }
  .navbar-nav .nav {
    color: white !important
  }
}


.logo {
  height: 2.6em !important;
  width: 2.6em !important;
}

.navbar-nav .nav {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav {
  padding: 0.8rem 1rem !important;
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .nav {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav {
  position: relative;
  margin-left: 20px;
}

.navbar-nav a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: orange;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav a:hover::after {
  width: 100%;
}


/* Footer */
.footer {
  background-color: #1c0e02;
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: white !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: #a588c0 !important;
}

.about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

/* About */

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  color: rgb(211, 138, 4) !important;
  border: 1.7px solid rgb(211, 138, 4) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 3px 3px 3px 3px rgb(83, 55, 3) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

.tech-icons:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  border: 2.2px solid #613107 !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}
.tech-icon-text {
  opacity: 0%;
  transform: rotate(360deg);
  font-size: 0.0em;
}

.tech-icons:hover .tech-icon-icon{
  opacity: 10%;
  transition: all 0.4s ease 0s !important;
}

.tech-icons:hover .tech-icon-text{
  opacity: 100%;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  bottom: 60px;
  transform: rotate(50deg);
  transition: all 0.4s ease 0s !important;
}

.about-img {
  height: 250px !important;
  background-color:rgb(94, 63, 6) !important;
  border-radius: 50%;
  opacity: 80%;
}


.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 70px !important;
}


.heading {
  font-size: 2.4em !important;
}

.heading-name {
  font-size: 2.5em !important;
}

.main-name {
  color: #ffffff;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: rgb(94, 63, 6) !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: rgb(94, 63, 6) !important;
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.hometype {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  animation-name: hello-stretch;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes hello-stretch {
  0% {
    transform: scaleX(1.5);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: scaleX(1.5);
  }
}

.homeicon {
  justify-content: center;
  align-items: center;
}

/* contact */

.contact-form {
  position: relative;
  padding-top: 100px !important;
  z-index: 0 !important;
}

.contact-form-label {
  justify-content: center;
  display: flex;
  text-align: center;
}

.contact-label {
  font-size: 2.2em;
  font-weight: bold;
  color: var(--primary-color);
}

.contact-input, .contact-message, .contact-submit {
  width: 80%;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px rgb(83, 55, 3) !important;
  border: 1.7px solid rgb(211, 138, 4) !important;
  border-radius: 5px;
  background-color: #613107;
  margin-bottom: 10px;
  font-size: 1.5em;
  opacity: 80%;
}

.portfolio-section {
  position: relative !important;
  padding-top: 100px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
}
.portfolio-card {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.portfolio-card-view {
  box-shadow: 3px 3px 3px 3px #613107 !important;
  color: white !important;
  background-color: transparent !important;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
}
.portfolio-card-view:hover {
  transform: scale(1.08) !important;
  overflow: hidden !important;
  box-shadow: 3px 3px 3px 3px #613107 !important;
}


.card-img {
  padding: 5%;
  border-radius: 25px !important;
}

.btn {
  color: #fff !important;
  background-color: rgb(211, 138, 4) !important;
}

.btn:hover {
  background-color: #613107 !important;
}

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}
